body{
    background-size: cover;
    background-position: center;
}
.heading{
font-size: 24px;
width: 100%;
margin: 0px;
box-shadow: 5px 5px 5px rgb(176, 176, 255);
}
.note{
    font-size: 15px;
    color: black;
}
.footer{
    position: fixed;
    background-color: rgb(79, 78, 78);
    color: rgb(255, 255, 255);
    bottom: 0;
    width: 100%;
    line-height: 3;
    text-align: center;
}
canvas{
    border: 5px solid gray;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(176, 176, 255);
}
